<div class="login-page">
    <nav>
        <a href="#"> <img class='logo-img' src="assets/static/Upwork-Logo.png" alt="logo"> </a>
    </nav>
    <div class="content">
        <h3>Log in to Upwork</h3>
        <form action="" class="form">
            <div class="input">
                <input id="username" type="text" placeholder="Username or Email">
            </div>
            <div class="submit">
                <button mat-fab extended> Continue with Email </button>
            </div>
        </form>
        <mat-divider></mat-divider>
        <div class="google">
            <button class="btn" mat-fab extended>
                <span><img class="google-logo" src="assets/static/google-logo.svg" alt=""></span>
               
               
                <span>Continue with Google</span>
              
            </button>
            <!-- <button mat-fab extended class="btn">
                <span>Continue with Google</span>
            </button> -->
        </div>
    </div>
</div>