.login-component{
    text-align: center;
}

.login-component label{
    margin-right: 50px;
}

.login-component input{
    border-radius: 500px;
    margin: 10px;
    padding: 5px;
}

.login-component{
    margin-top: 50px;
}

.login-component .login{
    margin-top: 50px;
}

.login .inp input:focus-within:active{
    border-style: solid;
    border-radius: 500px;
    border-color: #14a800;
}

.login button{
    width: 100px;
    margin-top: 60px;
    border-radius: 500px;
    background-color: #14a800;
}